/*
a class selector is a name preceded by a full stop (“.”) 
and an ID selector is a name preceded by a hash character (“#”).
*/

#container {
    display: flex;
    height: 100vh;
  }
    
  .chart {
    flex-basis: 100%;
    flex: 1;
  }
  